body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

table{
    border-spacing: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


tbody{
    background-color:lightgrey;
    font-size: 18px;
    border-spacing: 0px;
    font-weight: bold;
}


td {
    width: 120px;
    border: solid 0.5px black;
}