body {
    background-color: white;
    display: flex;
    justify-content: center;
}

table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-spacing: 0px;
}

tbody{
    background-color:#F2F2F2;
    font-size: 22px;
}

tbody tr {
    
}


td {
    width: 150px;
    height: 20px;
}